* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.container {
  max-width: 1600px;
  padding: 20px 10px;
  margin: 0 auto;
}

header {
  background-color: #4361ee;
  color: white;
  padding: 5px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#weatherForm-header {
  display: flex;
  justify-content: space-between;
  max-width: 45vw;
  width: 100%;
  gap: 4px;
  display: none;
}

#weatherForm-header > input[type="text"] {
  max-width: 400px;
}

.temp-toggle input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.temp-toggle {
  display: inline-flex;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: rgb(66, 29, 29);
}

.temp-toggle label {
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 2px solid #e5e5e5;
  background: white;
  color: #666;
  min-width: 50px;
  user-select: none;
}

.temp-toggle label:hover {
  background: #f8f9fa;
}

.temp-toggle input[type="radio"]:checked + label {
  background: #4361ee !important;
  color: white !important;
  border-color: #4f46e5 !important;
}

/* So, whenever a radio button inside .temp-toggle is checked, the label right after it gets styled like a button highlight (indigo background, white text, indigo border). */

#cityInput,
#cityInput2 {
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #e5e5e5;
  flex: 1;
}

#weatherForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 15px;
  /* display: none; */
}

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 800px;
  width: 100%;
  align-items: 0 auto;
}

button {
  padding: 15px 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #4361ee;
  transition: all 0.3s ease;
  color: white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button:active {
  background: #e9ecef;
}

#weatherDisplay {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}

.current-info {
  max-width: 700px;
  border: 2px solid black;
  flex: 1;
  padding: 15px;
  /* transform: translateY(100%); */
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.city-time {
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #4361ee;
  border-radius: 8px;
  color: white;
}

.skyIcon {
  max-width: 130px;
}

.detailsRow1 {
  display: flex;
  max-width: 90%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.row2Icons {
  max-width: 64px;
}

.detailsRow2 {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detailsRow2 > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.details {
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.forecastIcon {
  max-width: 50px;
}

.hours-data {
  display: flex;
  overflow: auto;
  align-items: center;
  gap: 2px;
  /* background-color: black; */
  padding-left: 10px;
}

.hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 4px;
}

.days-forecast {
  border: 2px solid black;
  max-width: 400px;
  flex: 1;
  padding: 15px;
  /* transform: translateY(100%); */
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.forecast-heading {
  background-color: #4361ee;
  padding: 15px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.dayIcon {
  max-width: 32px;
}

.forecast-days {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 8px;
}

.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 3px solid rgb(197, 193, 193);
}

.temp-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.min-temp {
  color: grey;
  font-weight: 400;
}

.show {
  /* transform: translateY(0); */
  opacity: 1;
}
